*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*TestResult.xml
spec/TestProj/TestProj/bin/
spec/TestProj/TestProj2/bin/
obj/
_ReSharper*
*ReSharper*
*.suo
*.user
todo